@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: pink;/* background: url(bg.jpg); */
    background-size: cover; /* ? -----------------------------------------------*/
    background-position: center; /* ? ----------------------------------------------*/
}
.box{
    position: relative;
    border-radius: 20px;
    transform-style: preserve-3d;/* ? -------------------------------------------------*/
}
.box .card{
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    width: 300px;
    min-height: 400px;
    backdrop-filter: blur(10px); /* ? ------------------------------------------------*/
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.05);
    transform-style: preserve-3d;
}
.elements{
    position: absolute;
    top: 50px;
    left: -30px;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    transform: translateZ(80px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.05);
}
.elements.bg::before{
    content: '';
    position: absolute;
    inset: 0;
    /*background: url(left-quote.png);*/
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.5s;
}
.box:hover .elements.bg::before{
    opacity: 1;
}
.elements.imgBx{
    top: 0;
    left: initial;
    right: 60px;
    width: 120px;
    height: 120px;
    padding: 10px;
    transform: translateZ(120px);
}
.elements.imgBx img{
    position: absolute;
    wid
}
